<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <!-- Include header partial -->
  <%- include('../partials/header') %>

  <!-- Main content -->
  <main id="sidebar">
    <%- body %>
  </main>

  <!-- Include footer partial -->
  <%- include('../partials/footer') %>
</body>
</html>