<!DOCTYPE html>
<html>
<head>
  <title><%title%></title>
</head>
<body>
  <h1>About Us</h1>
  <p>This is information about Ayesha, Charlotte, and Everest's company. We're awesome.</p>
</body>
</html>
